/* html{

} */
*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
}
header{
    width: 100%;
    height: 10vh;
    background-color: #000;
    border-bottom: solid 2px #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img{
    width: 15%;
    margin-left: 5%;
}
.menu-icon-wrapper {
    width: 25px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
@media (max-width: 481px) {
    .menu-icon-wrapper {
    display: block;
    padding-top: 10px;
    margin-right: 5%;
    justify-content: flex-start;
    }
}

.menu-icon {
    position: relative;
    width: 25px;
    height: 3px;
    background-color: #fff;
}

.menu-icon::before {
    position: absolute;
    left: 0;
    top: -7px;
    content: '';
    width: 25px;
    height: 3px;
    background-color: #fff;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}
.menu-icon::after {
    position: absolute;
    left: 0;
    top: 7px;
    content: '';
    width: 25px;
    height: 3px;
    background-color: #fff;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}
.menu-icon.menu-icon-active {
    background-color: transparent;
}
.menu-icon.menu-icon-active::before {
    transform: rotate(45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}
.menu-icon.menu-icon-active::after {
    transform: rotate(-45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}
.first-screen {
    width: 100%;
    height: 90vh;
    background-color: #000;
    background-image: url(img/fs-bg.jpg);
    background-position: right bottom;
    background-size: contain;
    background-repeat: no-repeat;
}
.first-screen-text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.507);
}
.first-screen-text h1{
    font-family:Arial, Helvetica, sans-serif;
    color: #fff;
    text-align: center;
    font-weight: 300;
    line-height: 3rem;
}
.first-screen-text button{
    width: 40%;
    height: 2rem;
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
    border-radius: 10px;
    font-family:Arial, Helvetica, sans-serif;
    border: solid 2px #fff;
}
.first-screen-text button:hover{
    background-color: #fff;
    color: #000;
    transition: all 0.5s ease-in;
}
.equipment {
    width: 100%;
    padding: 3rem 10% 0rem 10%;
}

.equipment__header {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif;
}

.equipment__text {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif;
}


.equipment__main {
}

.equipment__item {
    width: 100%;
    margin-bottom: 2rem;
}

.equipment__item-text {
    display: flex;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif;
}

.equipment__item-img {
    width: 100%;
}
.equipment__item-img img{
    width: 100%;
}
.services {
    width: 100%;
    padding: 3rem 10% 0rem 10%;
    background-color: #000;
}
.services__header {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif;
    color: #fff;
}
.services__text {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif;
    color: #fff;
}
.services__text p{
    text-align: center;
}
.services__main {
    display: flex;
    justify-content: center;
    flex-flow: column;
}
.services__main button{
    width: 100%;
    height: 2rem;
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
    border-radius: 10px;
    font-family:Arial, Helvetica, sans-serif;
    border: solid 2px #fff;
    margin-bottom: 2rem;
}
.reviews {
    width: 100%;
    padding: 2rem 10% 0rem 10%; 
}
.reviews__header {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif;
    color: #000;
}
.reviews__main {
    display: flex;
    justify-content: center;
    flex-flow: column;
}
.reviews__item {
    width: 100%;
    margin-bottom: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    border: solid 2px rgb(116, 116, 116);
    padding: 10px;
    border-radius: 10px;
    line-height: 2rem;
}
.reviews__item p{
    margin-top: 0px;
}
.reviews__item span{
    font-style: italic;
}
.contacts {
    width: 100%;
    padding: 2rem 10% 2rem 10%; 
    background-color: rgb(238, 238, 238);
}
.contacts__header {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif;
    color: #000;
}

.contacts__main {
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.contacts__item {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2rem;
}
.working-hours {
    width: 100%;
    padding: 2rem 10% 2rem 10%; 
    background-color: rgb(0, 0, 0);
}
.working-hours__header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}

.working-hours__main {
}

.working-hours__item {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2rem;
    color: #fff; 
}

.sosial-networks{
    display: flex;
    justify-content: space-between;
}
.sosial-networks img{
    width: 15%;
}



